image:
  repository: gcr.io/gcp-final-task-nextcloud/nextcloud
  tag: 21.0.1-apache

ingressClassName:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx

nextcloud:
  host: nextcloud.kube.home
  existingSecret:
    secretName: nextcloud-admin
    usernameKey: username
    passwordKey: password
  configs:
    gcs.config.php: |-
      <?php
      $CONFIG = array(
        'objectstore' => array(
          'class' => '\\OC\\Files\\ObjectStore\\S3',
          'arguments' => array(
            'bucket'         => 'gcp-final-task-nextcloud-external-data',
            'autocreate'     => false,
            'key'            => 'key',
            'secret'         => 'secret',
            'hostname'       => 'storage.googleapis.com',
            'region'         => 'auto',
            'use_ssl'        => true,
            'use_path_style' => false,
          )
        )
      );
    memorystore.config.php: |-
      <?php
      $CONFIG = array(
        'memcache.local' => '\OC\Memcache\Redis',
        'redis' => array(
          'host' => 'redis',
          'port' => 6379,
        ),
      );

internalDatabase:
  enabled: false

externalDatabase:
  enabled: true
  type: mysql
  host: 10.14.32.2
  port: 3306
  database: nextcloud
  existingSecret:
    secretName: nextcloud-mysql
    usernameKey: username
    passwordKey: password

service:
  type: NodePort
  nodePort: 30000

persistence:
  enabled: true
